<div class="answer-main-card">
  <div class="answer-header-card">
    <% if answer.owner.photo.present? %>
      <%= cl_image_tag(answer.owner.photo, class:'my-avatar-small') %>
    <% else %>
      <i class="far fa-smile"></i>
    <% end %>
    <% if answer.owner.name.present? %>
      <h5><%= answer.owner.name.capitalize %></h5>
    <% else %>
      <h5><%= answer.owner.email %></h5>
    <% end %>
  </div>
  <p><%= answer.content %></p>
</div>
