<div class="home-page-main-container">
  <%= link_to reservations_path, class:'home-page-container' do %>
    <h1>Les Chênes</h1>
    <h4>Réserver</h4>
  <% end %>
  <%= link_to reservations_path, class:'home-page-container' do %>
    <h1>La Famille</h1>
    <h4>Discuter</h4>
  <% end %>
</div>

