<div class="home-page-main-container">
  <%= link_to reservations_path, class:'home-page-container' do %>
    <h1>Les Chênes</h1>
    <p>Réserver</p>
  <% end %>
  <%= link_to reservations_path, class:'home-page-container' do %>
    <h1>La Famille</h1>
    <p>Discuter</p>
  <% end %>
</div>

