<div class="home-page-main-container">
  <div class="home-page-container" style="background-image: linear-gradient(-125deg, rgba(0,55,28,0.3) 0%, rgba(0,36,61,0.3) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin')";>
    <%= link_to reservations_path do %>
      <h1>Les Chênes</h1>
      <p>Réserver</p>
    <% end %>
  </div>
  <div class="home-page-container" style="background-image: linear-gradient(-125deg, rgba(0,55,28,0.3) 0%, rgba(0,36,61,0.3) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin')";>
    <%= link_to reservations_path do %>
      <h1>La Famille</h1>
      <p>Discuter</p>
    <% end %>
  </div>

</div>

