<%= render 'shared/navbar' %>
<div class="container">
  <h2>Créer une réservation</h2>
  <div class="row">
    <%= simple_form_for(@reservation) do |f| %>
      <div class="col-xs-offset-2 col-xs-8">
        <%= f.input :info, autofocus: true, placeholder: 'Petit message sympathique ou non...' %>
        <%#= f.input :start_date, id:'datepicker', label: 'Du', as: :date, start_year: Date.today.year,
                              end_year: Date.today.year + 30,
                              order: [:day, :month, :year] %>
        <%#= f.input :end_date, label: 'Au', as: :date, start_year: Date.today.year,
                              end_year: Date.today.year + 30,
                              order: [:day, :month, :year] %>
          <div class="form-date-container">
            <input type="text" class='datepicker' name=reservation[start_date] placeholder='Du'>
            <input type="text" class='datepicker' name=reservation[end_date] placeholder='Au'>
          </div>
        <%= f.button :submit, 'Ok' %>
      </div>
    <% end %>
  </div>
</div>

