//Card Reservation Index -------------------------------------------------------
.reservation-main-card {
  display: flex;
  border-bottom: 1px solid $orange;
  padding: 20px;
  flex-direction: column;
  transition: 0.5s;
  &:hover {
    margin-left: -7px;
    transition: 0.5s;
  }
  a {
    transition: 0.5s;
    &:hover {
      text-decoration: none;
      transition: 0.5s;
      color: $strong-green;
    }
  }
}

.reservation-main-card-header {
  display: flex;
  align-items: center;
  h5 {
    margin-left: 10px;
  }
}
//Card Answer New --------------------------------------------------------------
.answer-main-card {
  border-bottom: 1px solid $green;
  padding: 20px;
}

.answer-header-card {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  h5 {
    margin-left: 10px;
  }
}

//Card Topic Index -------------------------------------------------------------
.topic-main-card {
  display: flex;
  border-bottom: 1px solid $orange;
  padding: 20px;
  flex-direction: column;
  transition: 0.5s;
  &:hover {
    margin-left: -7px;
    transition: 0.5s;
  }
  a {
    transition: 0.5s;
    &:hover {
      text-decoration: none;
      transition: 0.5s;
      color: $strong-green;
    }
  }
}
.topic-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h5 {
    margin-left: 10px;
  }
}

.topic-card-header-left {
  flex: 0 0 80%;
  display: flex;
  align-items: center;
}

.topic-card-header-right {
  flex: 0 0 20%;
  span {
    font-weight: lighter;
    font-size: 13px;
  }
}

//Card Post New ----------------------------------------------------------------
.post-new-main-card {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid $orange;
}
