//Card Reservation Index -------------------------------------------------------
.reservation-main-card {
  display: flex;
  border-bottom: 1px solid $orange;
  padding: 20px;
  flex-direction: column;
}

.reservation-header-card {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.reservation-header-title-card {
  flex: 0 0 90%;
  a {
    text-decoration: none;
  }
  h4 {
    transition: 0.5s;
    &:hover {
      margin-left: -10px;
      color: $strong-green;
      transition: 0.5s;
    }
  }
}

.reservation-header-gly-card {
  flex: 0 0 10%;
  i {
    transition: 0.5s;
    &:hover {
      color: $orange;
      transition: 0.5s;
    }
  }
}

//Card Answer New --------------------------------------------------------------
.answer-main-card {
  border-bottom: 1px solid $green;
  padding: 20px;
}

.answer-header-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
