//HomePage Container------------------------------------------------------------
.home-page-main-container {
  display: flex;
}

.home-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-size: cover !important;
  a {
    color: white;
    text-align: center;
    transition: 0.5s;
    &:hover {
      text-decoration: none;
      color: $orange;
      transition: 0.5s;
    }
  }
}

//Devise footer container ------------------------------------------------------
.devise-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

//Reservation index ------------------------------------------------------------
.aucune-reservation-container {
  display: flex;
  i {
    margin-left: 10px;
    transition: 0.5s;
    font-weight: lighter;
    margin-bottom: 0px;
    &:hover {
      color: $orange;
      transition: 0.5s;
    }
  }
}

//Answer New -------------------------------------------------------------------
.answer-main-container {
  display: flex;
}

.answer-left-container {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  position: sticky !important;
}

.answer-left-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  i {
    margin-right: 10px;
  }
}

.answer-left-header-title-container {
  display: flex;
  align-items: center;
}

.answer-left-header-gly-container {
  display: flex;
  a {
    transition: 0.5s;
    &:hover {
      transition: 0.5s;
      text-decoration: none;
      color: $strong-green;
    }
  }
}

.answer-right-container {
  flex: 0 0 50%;
  height: calc(100vh - 70px);
  overflow: scroll;
  padding-left: 30px;
}


