//Form Devise sessions new -----------------------------------------------------
.form-inputs {
  font-weight: lighter;
}

.form-group.email.optional.user_email label {
  font-weight: lighter;
}

.form-group.email.optional.user_email input {
  box-shadow: none;
  border: 1px solid $orange;
}

.form-group.password.optional.user_password label {
  font-weight: lighter;
}

.form-group.password.optional.user_password input {
  box-shadow: none;
  border: 1px solid $orange;
}

.form-check input {
  margin-right: 10px;
}

.form-check label {
  font-weight:lighter;
}

//Form Devise registration new -------------------------------------------------

.form-group.email.required.user_email label {
  font-weight: lighter;
}

.form-group.email.required.user_email input {
  box-shadow: none;
  border: 1px solid $orange;
}

.form-group.password.required.user_password label {
  font-weight: lighter;
}

.form-group.password.required.user_password input {
  box-shadow: none;
  border: 1px solid $orange;
}

.form-group.password.required.user_password_confirmation label {
  font-weight: lighter;
}

.form-group.password.required.user_password_confirmation input {
  box-shadow: none;
  border: 1px solid $orange;
}

.form-group.string.optional.user_name label {
  font-weight: lighter;
}

.form-group.string.optional.user_name input {
  box-shadow: none;
  border: 1px solid $orange;
}

.form-group.select.optional.user_parent label {
  font-weight: lighter;
}

.form-control.select.optional {
  box-shadow: none;
  border: 1px solid $orange;
}

.form-group.file.optional.user_photo label {
  font-weight: lighter;
}

.form-group.file.optional.user_photo input {
  font-size: 16px;
  display: flex;
  align-items: center;
}
//Form reservations/new --------------------------------------------------

.form-group.string.optional.reservation_title label {
  font-weight: lighter;
}

.form-group.string.optional.reservation_title input {
  font-weight: lighter;
  box-shadow: none;
  border: 1px solid $orange;
}

.form-group.text.optional.reservation_info label {
  font-weight: lighter;
}

.form-group.text.optional.reservation_info textarea {
  font-weight: lighter;
  box-shadow: none;
  border: 1px solid $orange;
  height: 120px;
}

.d-flex.flex-row.justify-content-between.align-items-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form-group.date.required.reservation_start_date label {
  font-weight: lighter;
}

.form-group.date.required.reservation_start_date.form-group-valid label {
  font-weight: lighter;
}

#reservation_start_date_3i {
  font-weight: lighter;
  background-color: white;
  box-shadow: none;
  border: 1px solid $orange;
}

#reservation_start_date_2i {
  font-weight: lighter;
  background-color: white;
  box-shadow: none;
  border: 1px solid $orange;
}

#reservation_start_date_1i {
  font-weight: lighter;
  background-color: white;
  box-shadow: none;
  border: 1px solid $orange;
}

.form-group.date.required.reservation_end_date.form-group-valid label {
  font-weight: lighter;
}

.form-group.date.required.reservation_end_date label {
  font-weight: lighter;
}

#reservation_end_date_3i {
  font-weight: lighter;
  background-color: white;
  box-shadow: none;
  border: 1px solid $orange;
}

#reservation_end_date_2i {
  font-weight: lighter;
  background-color: white;
  box-shadow: none;
  border: 1px solid $orange;
}

#reservation_end_date_1i {
  font-weight: lighter;
  background-color: white;
  box-shadow: none;
  border: 1px solid $orange;
}


//Form Answer New --------------------------------------------------------------
.form-group.text.optional.answer_content label {
  font-weight: lighter;
}

.form-group.text.optional.answer_content textarea {
  font-weight: lighter;
  box-shadow: none;
  border: 1px solid $orange;
  height: 300px;
}
