//Form Devise sessions new -----------------------------------------------------
.form-inputs {
  font-weight: lighter;
}

.form-group.email.optional.user_email label {
  font-weight: lighter;
}

.form-group.email.optional.user_email input {
  border: none;
  box-shadow: none;
  border-top: 1px solid $blue;
}

.form-group.password.optional.user_password label {
  font-weight: lighter;
}

.form-group.password.optional.user_password input {
  border: none;
  box-shadow: none;
  border-top: 1px solid $blue;
}

.form-check input {
  margin-right: 10px;
}

.form-check label {
  font-weight:lighter;
}

//Form Devise registration new -------------------------------------------------

.form-group.email.required.user_email label {
  font-weight: lighter;
}

.form-group.email.required.user_email input {
  border: none;
  box-shadow: none;
  border-top: 1px solid $blue;
}

.form-group.password.required.user_password label {
  font-weight: lighter;
}

.form-group.password.required.user_password input {
  border: none;
  box-shadow: none;
  border-top: 1px solid $blue;
}

.form-group.password.required.user_password_confirmation label {
  font-weight: lighter;
}

.form-group.password.required.user_password_confirmation input {
  border: none;
  box-shadow: none;
  border-top: 1px solid $blue;
}

//Form owner/reservations/new --------------------------------------------------

.form-group.string.optional.reservation_title label {
  font-weight: lighter;
}

.form-group.string.optional.reservation_title input {
  font-weight: lighter;
  border: none;
  box-shadow: none;
  border-top: 1px solid $blue;
}

.form-group.text.optional.reservation_info label {
  font-weight: lighter;
}

.form-group.text.optional.reservation_info textarea {
  font-weight: lighter;
  border: none;
  box-shadow: none;
  border-top: 1px solid $blue;
  height: 120px;
}

.d-flex.flex-row.justify-content-between.align-items-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form-group.date.optional.reservation_start_date label {
  font-weight: lighter;
}

#reservation_start_date_3i {
  font-weight: lighter;
  background-color: white;
  border: none;
  box-shadow: none;
  border-top: 1px solid $blue;
}

#reservation_start_date_2i {
  font-weight: lighter;
  background-color: white;
  border: none;
  box-shadow: none;
  border-top: 1px solid $blue;
}

#reservation_start_date_1i {
  font-weight: lighter;
  background-color: white;
  border: none;
  box-shadow: none;
  border-top: 1px solid $blue;
}

.form-group.date.optional.reservation_end_date label {
  font-weight: lighter;
}

#reservation_end_date_3i {
  font-weight: lighter;
  background-color: white;
  border: none;
  box-shadow: none;
  border-top: 1px solid $blue;
}

#reservation_end_date_2i {
  font-weight: lighter;
  background-color: white;
  border: none;
  box-shadow: none;
  border-top: 1px solid $blue;
}

#reservation_end_date_1i {
  font-weight: lighter;
  background-color: white;
  border: none;
  box-shadow: none;
  border-top: 1px solid $blue;
}
